.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}


.search-bar input {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #d3dce6;
  background-color: #f1f5f9;
  width: 200px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  block-size: 15px;
  color: #64748b;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-name {
  font-size: 14px;
  color: #334155;
}

.add-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
